RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L]

# works for fast cgi users
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

#remove comments from bellow if you want to upload upto 5GB file

#	php_value upload_max_filesize 5120M
#	php_value post_max_size 5000M
#	php_value max_execution_time 20000
#	php_value max_input_time 20000

SetEnvIfNoCase User-Agent "cmscrawler" bot_block
SetEnvIfNoCase User-Agent "tkl.iis.u-tokyo.ac.jp" bot_block
SetEnvIfNoCase User-Agent "J-BRO" bot_block
SetEnvIfNoCase User-Agent "ApacheBench" bot_block 
SetEnvIfNoCase User-Agent "meanpathbot" bot_block
SetEnvIfNoCase User-Agent "IndoXploitTools" bot_block
SetEnvIfNoCase User-Agent "www.exb.de" bot_block
SetEnvIfNoCase User-Agent "magpie-crawler" bot_block
SetEnvIfNoCase User-Agent "SISTRIX" bot_block
SetEnvIfNoCase User-Agent "radian6" bot_block 
SetEnvIfNoCase User-Agent "JikeSpider" bot_block
SetEnvIfNoCase User-Agent "Sosospider" bot_block
SetEnvIfNoCase User-Agent "Attentio" bot_block
SetEnvIfNoCase User-Agent "filterdb.iss.net" bot_block 
SetEnvIfNoCase User-Agent "libwww-perl" bot_block
SetEnvIfNoCase User-Agent "coccoc" bot_block
SetEnvIfNoCase User-Agent "heritrix" bot_block
SetEnvIfNoCase User-Agent "Aibot" bot_block 
SetEnvIfNoCase User-Agent "exabot.com" bot_block
SetEnvIfNoCase User-Agent "butterfly" bot_block
SetEnvIfNoCase User-Agent "CareerBot" bot_block
SetEnvIfNoCase User-Agent "FTRF" bot_block 
SetEnvIfNoCase User-Agent "JDatabaseDriverMysqli" bot_block
SetEnvIfNoCase User-Agent "80legs.com" bot_block
SetEnvIfNoCase User-Agent "DLE_Spider.exe" bot_block
SetEnvIfNoCase User-Agent "xpymep.exe" bot_block 
SetEnvIfNoCase User-Agent "Wget" bot_block
SetEnvIfNoCase User-Agent "BLEXBot" bot_block
SetEnvIfNoCase User-Agent "MJ12bot" bot_block
SetEnvIfNoCase User-Agent "SemrushBot" bot_block 

<Limit GET POST HEAD> 
Order Allow,Deny 
Allow from all
Deny from env=bot_block
</Limit>
